@model IEnumerable<mvcMovie.Movies>

@{
    ViewData["Title"] = "Index";
}

@{
    if (TempData.Peek("Message") != null)
    {
        <div class="alert alert-success" role="alert">
            <h4>@TempData.Peek("Message")</h4>
        </div>
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                Likers
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr style="cursor: pointer;" onMouseOver="this.style.color='#00F'" onMouseOut="this.style.color='black'" onclick="location.href='@Url.Action("Details", "Movies", new { id = item.Id })'">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release)
            </td>
            <td>
                <img src="~/assets/pictures/@(item.Picture)" style="height: 50px; width: 50px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likers)
            </td>
        </tr>
                }
        </tbody>
</table>
